*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
button{
    border: none;
    background-color: white;
}
nav {
    margin-left: 30px;
    margin-top: 20px;
}
nav .nav{
    display:flex ; 
}
nav .nav img{
    align-self: center;
    width: 50px;
}
nav .nav .one{
    width: 30px;
    align-self: center;
}
nav .nav .button1{
    width: 40px;
    margin-left: 20px;
    align-self: center;
    border-radius: 80%;
    margin-top: 5px;
}
nav .nav .three{
    margin-left: 900px;
    width: 150px;
    align-self: center;
}
nav .nav :hover{
    cursor: pointer;
}
.button button{
    margin-left: 430px;
    width: 400px;
    height: 100px;
    background-color: #1A4789;
    margin-top: 100px;
    font-size: 40px;
    border-radius: 20px;
    font-family: 'Cairo', sans-serif;
    border: none;
    color: white;
}
.button button:hover{
    cursor: pointer;
}
aside .aside{
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    padding-bottom: 50px;
}  
aside .aside div{
    align-self: center;
    margin-left: 250px;
}  
aside .aside img{
    width: 500px;
    align-self: center;
    border-radius: 50px;
}
aside .aside div h1{
    font-size: 40px;
    font-family:  'Cairo', sans-serif;
    direction: rtl;
}
aside .aside div p{
    font-size: 30px;
    font-family:  'Cairo', sans-serif;
    direction: rtl;
}
.head1{
    margin-left: 30px;
    display: flex;
}
.head{
    background: black;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-top: 50px;
}
.head .head1 div{
    margin-left: 500px;
    flex-wrap: wrap;
}
.head .head1 div a{
    color: #fff;
    align-self: center;
    margin-left: 100px;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
}
.head .head1 div p{
    color: #fff;
    font-family: 'Cairo', sans-serif;
    margin-top: 5px;
}
.head .head2{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
}
.head .head2 img {
    margin-left: 20px;
    width: 40px;
}
.head .head2 .logo11,.logo12{
    border-radius: 50%;
}
.head .head2 .logo13{
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.head .head2 .logo14{
    border-radius: 5px;
}
.head .head2 img:hover{
    cursor: pointer;
}
.head .head2 .script{
    display: flex;
    flex-direction:row-reverse;
    margin-left: 400px;
}
.head .head2 .script img{
    border-radius: 50%;
}
.head .head2 .script p{
    color: #fff;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}
nav .two:focus{
    display: block;
}
li{
    color: black;
}
#menue{
    position: absolute;
}
#menue li{
    transform: translate(0%,10%);
    background-color: #f4f4f4;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.theme-switch {
    --toggle-size: 15px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }
  
  .theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
  }
  
  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
  }
  
  .theme-switch__checkbox {
    display: none;
  }
  
  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }
  
  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  
  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  
  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }
  
  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }
  
  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  /* actions */
  
  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
  }
  
  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }
    @media only screen and (min-width:330px) and (max-width:400px){
        nav .nav{
            display: flex;
            margin-left: 3px;
        }
        nav .nav .three{
        margin-left: 70%;
        width: 120px;
        height: 50px;
        }
        .img img{
            width: 100%;
        }
        .head{
            display: block;
        }
        .head .head1 img{
            width: 40%;
            height: 80px;
        }
        .head .head1 div{
            margin-left: 30px;
        }
        .head .head1 div a{
            font-size: 13px;
            margin-left: 30px;
        } 
        .head .head2 a img{
            width: 30px;
            margin-left: 10px;
        }
        .head .head2 .script {
            flex-direction:row-reverse;
            margin-left: 30px;
        }
        .head .head2 .script img{
            width: 50px;
            height: 30px;
        }
        .theme-switch{
        --toggle-size: 10px;
        }
        .button button{
            margin-left: 10%;
            width: 80%;
        }
        aside .aside img{
            width:50%;
            margin-left: 5px;
        }
        .aside .important{
            direction: ltr;
            margin-left: 10px;
        }
        .aside .important h1{
            font-size: 15px;
            margin-right: 5px;
        }
        .aside .important p{
            font-size: 14px;
            margin-right: 5px;
        }
    }
    @media only screen and (min-width:400px) and (max-width:450px){
        .button button{
            margin-left: 10%;
            width: 80%;
        }
        aside .aside img{
            width:50%;
            margin-left: 5px;
        }
        .aside .important{
            direction: ltr;
            margin-left: 10px;
        }
        .aside .important h1{
            font-size: 16px;
            margin-right: 5px;
        }
        .aside .important p{
            font-size: 15px;
            margin-right: 5px;
        }
        nav .nav{
            display: flex;
            margin-left: 3px;
        }
        nav .nav .three{
        margin-left: 120%;
        width: 120px;
        height: 50px;
        }
        .img img{
            width: 100%;
        }
        .head{
            display: block;
        }
        .head .head1 img{
            width: 40%;
            height: 80px;
        }
        .head .head1 div{
            margin-left: 30px;
        }
        .head .head1 div a{
            font-size: 13px;
            margin-left: 30px;
        } 
        .head .head2 a img{
            width: 30px;
            margin-left: 10px;
        }
        .head .head2 .script {
            flex-direction:row-reverse;
            margin-left: 30px;
        }
        .head .head2 .script img{
            width: 50px;
            height: 30px;
        }
        .theme-switch{
        --toggle-size: 10px;
        }
    }
    @media only screen and (min-width:850px) and (max-width:1000px){
        .button button{
            margin-left: 10%;
            width: 80%;
        }
        aside .aside img{
            width:50%;
            margin-left: 5px;
        }
        .aside .important{
            direction: ltr;
            margin-left: 20%;
        }
        .aside .important h1{
            font-size: 18px;
            
        }
        .aside .important p{
            font-size: 16px;
        }
        nav .nav{
            display: flex;
            margin-left: 3px;
        }
        nav .nav .three{
        margin-left: 500%;
        width: 120px;
        height: 50px;
        }
        .img img{
            width: 100%;
        }
        .head{
            display: block;
        }
        .head .head1 img{
            width: 20%;
            height: 80px;
        }
        .head .head1 div{
            margin-left: 30px;
        }
        .head .head1 div a{
            font-size: 13px;
        } 
        .head .head2 a img{
            width: 30px;
            margin-left: 10px;
        }
        .head .head2 .script {
            flex-direction:row-reverse;
            margin-left: 30px;
        }
        .head .head2 .script img{
            width: 40px;
            height: 30px;
        }
        .theme-switch{
          --toggle-size: 14px;
        }
    }
    @media only screen and (min-width:1005px) and (max-width:1100px){
        .button button{
            margin-left: 10%;
            width: 80%;
        }
        aside .aside img{
            width:50%;
            margin-left: 5px;
        }
        .aside .important{
            direction: ltr;
            margin-left: 10px;
            margin-left: 20%;
        }
        .aside .important h1{
            font-size: 16px;
            margin-right: 5px;
        }
        .aside .important p{
            font-size: 15px;
            margin-right: 5px;
        }
        nav .nav{
            display: flex;
            margin-left: 3px;
        }
        nav .nav .three{
        margin-left: 600%;
        width: 120px;
        height: 50px;
        }
        .img img{
            width: 100%;
        }
        .head{
            display: block;
        }
        .head .head1 img{
            width: 20%;
            height: 80px;
        }
        .head .head1 div{
            margin-left: 30%;
        }
        .head .head1 div a{
            font-size: 13px;
        } 
        .head .head2 a img{
            width: 30px;
            margin-left: 20px;
        }
        .head .head2 .script {
            flex-direction:row-reverse;
            margin-left: 25%;
        }
        .head .head2 .script img{
            width: 40px;
            height: 35px;
        }
        .theme-switch{
        --toggle-size: 15px;
        
        }
    }
  